body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 288px;
  margin: 0 auto;
  padding: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

picture {
  flex-shrink: 0;
  max-width: 100%;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-nav {
  display: flex;
  align-items: center;
}

.button-div {
  margin-left: auto;
}

.button-menu-mob {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  width: 24px;
  height: 24px;
  cursor: pointer;
  top: 20px;
  right: 20px;
}

.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  visibility: hidden;
  opacity: 0;
  background-color: #ffffff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 16px;
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.button-menu-x {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: #2e2f42;
}

.button-menu-x :hover {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

.button-menu-x :focus {
  border: none;
  background-color: #404bbf;
}

.button-menu-x-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-menu-x-svg-href:focus + .button-menu-x {
  fill: #ffffff;
}

.button-menu-x-svg-href:hover + .button-menu-xn {
  fill: #ffffff;
}

.button-menu-x-svg-href .button-menu-x {
  color: currentColor;
}

.mob-menu-nav {
  padding-top: 72px;
}

.mob-menu-nav-ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-menu-nav-a {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mob-menu-nav-a:hover {
  color: #404bbf;
}

.mob-menu-nav-a:focus {
  color: #404bbf;
}

.header-logo-first {
  margin: 24px 0;
  /* margin-right: 76px; */
}

.logo-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
}

.logo-header .logo-part {
  color: #2e2f42;
}

.contacts-menu-burger {
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-burger-ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Contacts-burger-li {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-burger-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link,
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color: #404bbf;
}

.Contacts-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-hero-background {
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/img6/img-mob/background.jpg');
  max-width: 320px;
  height: 432px;
  margin: 0 auto;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .page-hero-background {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/img6/img-mob/background2x.jpg');
  }
}

.page-hero-text {
  line-height: 1.01;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  display: flex;
  max-width: 216px;
  text-align: center;
}

.page-hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-hero-button:hover,
.page-hero-button:focus {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.label-user-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.span-user-privacy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.visually-hidden:active {
  background-color: #404bbf;
}

.svg-user-privacy:checked {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.label-user-privacy {
  margin-left: 8px;
}

.link-privacy-policy {
  color: #4d5ae5;
}

.section-page-feature {
  padding: 96px 16px;
}

.page-feature {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.icons-section-oe {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 100px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
}

.feature-list-title {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.feature-title-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  justify-content: flex-start;
}

.page-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.page-team-img {
  background-color: #ffffff;
  display: block;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.team-card {
  display: block;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-social-icons {
  margin: 32px 0;
}

.team-social-li {
  width: 40px;
  height: 40px;
}

.team-social-ul-mob {
  display: flex;
  gap: 40px;
  margin-top: 48px;
  padding-bottom: 40px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover {
  background-color: #404bbf;
}

.team-social-link:focus {
  background-color: #404bbf;
}

.icons {
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-landing {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin: 8px 0;
}

.team-social-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.page-portfolio {
  padding: 96px 0;
}

.portfolio-text {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-list-li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-li {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-img-div {
  position: relative;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-img-div:hover .tekst-hover {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.tekst-hover {
  position: absolute;
  top: 0px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  opacity: 0;
}

.portfolio-list-img-div {
  position: relative;
  overflow: hidden;
}

.portfolio-li-text-div {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  padding: 32px 16px;
  overflow: hidden;
}

.portfolio-li-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  margin-bottom: 8px;
  overflow: hidden;
}

.portfolio-li-text-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.page-footer {
  background-color: #2e2f42;
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.footer-logo-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 111px;
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: flex;
  max-width: 264px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-bottom: 16px;
  text-align: center;
  display: flex;
}

.footer-logo .footer-logo-part {
  color: #f4f4fd;
}

.footer-icons {
  width: 100%;
}

.footer-icons-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-icons-ul {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-icons-li {
  width: 40px;
  height: 40px;
}

.team-social-link-footer {
  height: 100%;
  width: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link-footer:hover {
  background-color: #31d0aa;
}

.team-social-link-footer:focus {
  background-color: #31d0aa;
}

.footer-icons-href {
  fill: #f4f4fd;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-form-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  padding-left: 0;
  padding-bottom: 80px;
}

.footer-par-form {
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.footer-input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  width: 264px;
  height: 40px;
  border: 1px solid #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  border-radius: 4px;
  opacity: 0.3;
}

.footer-input::placeholder {
  color: #ffffff;
}

.button-footer {
  display: flex;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  gap: 16px;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  padding: 8px 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form .label {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-form input {
  padding: 4px;
}

.paragraf-form {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.div-form {
  position: relative;
  margin-bottom: 8px;
}

.label-form {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.div-input-form {
  position: relative;
}

.input-form {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus {
  border-color: #4d5ae5;
}

.input-form:focus {
  fill: #4d5ae5;
}

.input-form:hover {
  fill: #4d5ae5;
}

.svg-input-form {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus + .svg-input-form {
  fill: #4d5ae5;
}

.input-form:hover + .svg-input-form {
  fill: #4d5ae5;
}

.div-comment-form {
  margin-bottom: 16px;
}

.textarea-form {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-form:focus {
  border-color: #4d5ae5;
}

.checkbox-container {
  margin-bottom: 24px;
  display: flex;
}

.button-form {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-icon {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  stroke: #2e2f42;
}

.button-icon:hover {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

.button-icon:focus {
  border: none;
  background-color: #404bbf;
}

.form-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon-href:focus + .button-icon {
  fill: #ffffff;
}

.form-icon-href:hover + .button-icon {
  fill: #ffffff;
}

.form-icon-href .button-icon {
  color: currentColor;
}

:root {
  background-color: #404bbf;
}

#user-privacy:checked + .label-user-privacy .span-user-privacy {
  background-color: var(--background-color);
  border: none;
  fill: #f4f4fd;
}

@media (min-width: 320px) {
  .nav-list {
    display: none;
  }

  .icons-section-one {
    display: none;
  }

  .contacts {
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 auto;
    margin: 0 auto;
  }

  .header-logo-first {
    margin-right: 120px;
  }

  .page-hero-background {
    background-color: #2e2f42;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/img6/img-tablet/Dark-bg.jpg');
    max-width: 768px;
    height: 436px;
    margin: 0 auto;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .page-hero-background {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/img6/img-tablet/Dark-bg-2x.jpg');
    }
  }

  .button-div {
    display: none;
  }

  .page-hero-button {
    margin-top: 36px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-style: normal;
    margin-left: auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-container {
    padding: 0 16px;
    display: flex;
    align-items: center;
  }

  .page-hero-text {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }

  .icons-section-one {
    display: none;
  }

  .page-feature {
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 72px;
    grid-column-gap: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .feature-list-title {
    display: flex;
    justify-content: flex-start;
  }

  .team-list {
    grid-row-gap: 64px;
    grid-column-gap: 24px;
  }

  .team-social-ul {
    margin-top: 8px;
    padding-bottom: 0px;
  }

  .portfolio-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 72px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer-main {
    display: flex;
    padding: 96px 0;
    padding-left: 108px;
    padding-right: 164px;
    gap: 0px;
  }

  .footer-logo-div {
    display: block;
    margin-top: 96px;
    margin-right: 24px;
  }

  .footer-icons {
    width: auto;
    padding-top: 96px;
  }

  .footer-icons-p {
    text-align: left;
  }

  .footer-form-div {
    display: block;
    margin-top: 72px;
    padding-bottom: 0px;
  }

  .modal {
    min-width: 408px;
    min-height: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1128px;
    padding: 0 auto;
    margin: 0 auto;
  }

  .page-hero-background {
    background-color: #2e2f42;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/img6/img-desktop/people-office.jpg');
    min-width: 1158px;
    height: 600px;
    margin: 0 auto;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .page-hero-background {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/img6/img-desktop/people-office-2x.jpg');
    }
  }

  .page-hero-text {
    text-align: center;
  }

  .header-container {
    margin: 0 auto;
  }

  .contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .page-hero-button {
    margin-top: 48px;
  }

  .icons-section-one {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 100px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
  }

  .page-feature {
    display: flex;
    gap: 24px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .feature-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .portfolio-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 48px;
  }

  .page-portfolio {
    padding: 120px 0;
  }

  .page-footer {
  }

  .footer-main {
    flex-wrap: nowrap;
    padding: 100px 0;
  }

  .footer-logo {
    justify-content: start;
  }

  .footer-logo-div {
    display: flex;
    justify-content: start;
  }

  .footer-icons {
    position: static;
  }

  .footer-form-div {
    padding-left: 80px;
    padding-top: 0px;
  }

  .footer-form {
    flex-wrap: nowrap;
  }
}
